.page main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 3rem;
}

.page h1 {
	margin-bottom: 3rem;
}

.radio {
	width: 500px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.radio p {
	width: 5.2rem;
}

.radio input[type="radio"] {
	display: none;
}

.radio label {
	display: inline-block;
	width: 4rem;
	text-align: center;
	padding: .2em 0;
	background: #00000002;
	border-radius: .4rem;
}

.radio input[type="radio"]:checked + label {
	background: #00000020;
}

.radio input[type="radio"]:active + label {
	background: #00000050;
}

.radio label:hover,
.radio input[type="radio"]:checked + label:hover {
	background: #00000030;
	cursor: pointer;
}
