<header class="header">
	<div class="container container--header">
		<a class="logo-link" href="/">
			<span class="logo"><img src="/static/logo.svg" alt=""></span>
			<span class="site-name">Алина Камалова</span>
		</a>

		<nav class="navmenu">
			<a href="/" class="navmenu__item">Главная</a>
			<a href="/study-materials" class="navmenu__item">Учебные материалы</a>
			<a href="/tests" class="navmenu__item">Тестовые задания</a>
			<a href="/account" class="navmenu__item">Личный кабинет</a>
		</nav>

		<div class="header__contacts">
			<a href="tel:+78005553535">+7 800 555-35-35</a>
			<a href="mailto:keanureeves@mail.ru">kamalovaalina@mail.ru</a>
		</div>
	</div>
</header>
