<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Hello world</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Prata&display=swap" rel="stylesheet">
		<link href="/static/css/variables.css" rel="stylesheet">
		<link href="/static/css/styles.css" rel="stylesheet">
		<link href="/static/css/page.css" rel="stylesheet">
		<link rel="icon" href="static/logo.svg" type="image/x-icon">
		<link rel="stylesheet" href="https://unpkg.com/file-icon-vectors@1.0.0/dist/file-icon-vivid.min.css" />
		<script src="/static/js/topic.js" defer></script>
	</head>
	<body class="page">
		{% include "header.html" %}
		<main class="container">
			<h1>Учебные материалы</h1>
			<form action="study-materials" method="GET">
				<div class="radio class-radio">
					<p>Класс:</p>

					{% for i in range(6, 9 + 1) %}
						<input
							type="radio"
							name="class"
							value="{{ i }}"
							id="class-{{ i }}"
							{{ "checked" if class == i|string else "" }}
						required>
						<label for="class-{{ i }}">{{i}}</label>
					{% endfor %}

				</div>

				<div class="radio quarter-radio">
					<p>Четверть:</p>

					{% for i in range(1, 4 + 1) %}
						<input
							type="radio"
							name="quarter"
							value="{{ i }}"
							id="quarter-{{ i }}"
							{{ "checked" if quarter == i|string else "" }}
						required>
						<label for="quarter-{{ i }}">{{i}}</label>
					{% endfor %}

				</div>

				<button class="submit">Загрузить</button>
			</form>

			{% if materials is none %}
				<div>Выберите класс и четверть</div>
			{% elif not materials %}
				<div>Нет результатов</div>
			{% else %}
				<div class="results">
					{% for t in materials %}
					<p data-topic="{{t}}">{{ t }} <span>^</span></p>
					<div data-topic-results="{{t}}">
						{% for m in materials[t] %}
							<a class="material" href="/study-materials/{{m['material'].id}}/download">
								<span class="fiv-viv fiv-icon-{{m['file'].fname.split('.')[-1][:3]}}"></span>
								<p>{{ m['material'].title }}</p>
							</a>
						{% endfor %}
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</main>
		{% include "footer.html" %}
	</body>
</html>
